.login {

    &-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 500px;
        min-width: 500px;
        padding: 2rem;
    }

    &-title {
        text-align: center;
        margin-bottom: 2rem;
    }

    &-form {
        width: 100%;
    }

    &-button {
        height: 40px;
        margin-top: 15px;
    }
}